:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

ol, ul {
	list-style: none;
	background-color: var(--white);
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 960px) {
}

@media print {
}

/********* Isotope Filtering ***/

.isotope-item {	z-index: 2; }

.isotope, 
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

body {
	font-family: Arial, sans-serif !important;
	font-size: 13px;
	line-height: 1.7em;
	color: #222;
	/* background-image:url(/img/startTopBG.jpg), url(../img/bodyBG-footer.jpg) ; //  Multiple background images
	background-attachment: fixed;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center top, center bottom; */
}

a:hover {
	color:#777;
}

#homeSearchBar p.findButton {
   	background-image: url("/img/rightArrow.png") #121212;
    background-position: 55px 10px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    float: right;
    font-size: 10px;
    height: 28px;
    line-height: 0.8em;
    text-align: center;
    width: 90px;
}

#afeed_EF > table { margin-top:-10px;width:160px !important; }

#contactPage input[type="submit"] {
  margin-left: 430px;
  width: 80px;
  background: black;
  color: white;
  font-size: 16px;
}

#contactPage[type="submit"] {
	color: green;
}

.reggaeText.genreTextHoverable:hover { background-color: #BFD500; color:#fff}
.rockText.genreTextHoverable:hover { background-color: #4ab6d3; color:#fff }
